/*.s-product-card {
  &-entry {
   
  color: aqua;}

  &-image {
    width: 100%;
  }

  &-vertical {}

  &-horizontal {width:100%;
    height: 100px;
  }

  &-fit-height {}

  &-special {}

  &-full-image {}

  &-minimal {}

  &-donation {}

  &-shadow {}

  &-out-of-stock {}

  &-wishlist-btn { color: #d1cdcd;
    background-color: rgb(103, 4, 215);}

  &-content {
    color: #d1cdcd;
    background-color: rgb(131, 131, 9);
  height: 100%;
  bottom: 150px;
  opacity: 0%;
    &-main {}

    &-sub {}

    &-footer {}

    &-title {}

    &-subtitle {}

    &-pie {
      &-svg {
       

        &-base {}

        
      }
    }

    // for special card
    &-extra-padding {}
  }

  &-donation-input {}
}

.s-products-list{

  &-content {
    color: #000;
    background-color: aqua;
    &-main {}

    &-sub {}

    &-footer {}

    &-title {}

    &-subtitle {}

    &-pie {
      &-svg {
        circle {
          transition: stroke-dashoffset 1s linear;
          -webkit-transition: stroke-dashoffset 1s linear;
          -moz-transition: stroke-dashoffset 1s linear;
          -ms-transition: stroke-dashoffset 1s linear;
          -o-transition: stroke-dashoffset 1s linear;
          stroke: #E8EDF2;
          stroke-width: 2px;
          stroke-linecap: round;
          fill: none
        }

        &-base {}

        &-bar {
          stroke: var(--color-primary) !important;
          stroke-dasharray: 100 100;
          stroke-dashoffset: 100
        }
      }
    }





}}*/