

{#

<section class="categories">
    <h2 class="title">
        تسوق حسب رغبتك 
    </h2>
  <div class="small-container1">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4 sm:gap-6 xl:gap-8">
   
    {% for categories in component.collection %}
    <div class="row">
        <div class="col-3">
            <img  alt="" src="{{categories.image }}">
            <h2>{{categories.string }}</h2>
        </div>
       
    </div>
    {% endfor %}
  </div>
</div>
</section>

#}

  
{% block body %}
<section class="s-block ">

<div class="container">
  <h1 class="title">
    تسوق حسب رغبتك 
</h1>
    <div class="row">
      {% for category in component.collection %}
      <div class="col-md-6">
         <ul>  
          <a href="#" class="slide--cat-entry">
            <li> <img src="{{ category.image }}" ></li>
                <li> <h2>{{ category.string }}</h2></li>
           
              </a>
              </ul>
            </div>
        {% endfor %}
       
    </div>
</div>
{% endblock %}
</section>