
<section class="s-block s-block--latest-products ">

  <div class="container">
    
    <h1 class="title">
      {{ component.aanoan_alreese }}
  </h1>
  <salla-products-list
  source="offers"
  limit="2"
  hide-add-btn="true"
  wishlist-btn="false"
 

  horizontal-cards="true">
  </salla-products-list>

     
      
  
</div>

  {#
        <h1 class="title">
            {{ component.aanoan_alreese }}
        </h1>
        
        <salla-products-slider
                source="offers"
                limit="4"
                hide-add-btn="true"
                wishlist-btn="false"
               >
      </salla-products-slider>
      
  
</div>

<salla-product-card
 source="offers"
  minimal=true
  special=true
  hide-add-btn="true"
  horizontal=true>
</salla-product-card>

<salla-products-slider
source="offers"
></salla-products-slider>#}



</section>