<!-- Basic Products Slider component usage -->

  

<section class="s-products-slider container">


    <div class="small-container">

        <h2 class="title">
            {{ trans('blocks.home.latest_products') }}
        </h2>
       
        
    

<salla-products-slider
source="latest"

    
  

></salla-products-slider>

    </div>
</section>